@use 'functions' as *;

h1,
.h1 {
  font-size: calc(um(22) + 1.5vw);
}

.h1-xl {
  font-size: calc(um(22) + 3.3vw);
}

@media (min-width: 1024px) {
  h1 {
    font-size: um(40);
  }
}

h2,
.h2 {
  font-size: calc(um(22) + 0.9vw);
}

@media (min-width: 1024px) {
  h2,
  .h2 {
    font-size: um(32);
  }
}

h3,
.h3 {
  font-size: calc(um(22) + 0.6vw);
}

@media (min-width: 1024px) {
  h3,
  .h3 {
    font-size: um(28);
  }
}

h4,
.h4 {
  font-size: calc(um(22) + 0.3vw);
}

@media (min-width: 1024px) {
  h4,
  .h4 {
    font-size: um(24);
  }
}

h5,
.h5 {
  font-size: um(20);
}

h6,
.h6 {
  font-size: um(16);
}
