// - Colors
$white: #fff;
$black: #000;
$dove-gray: #666565;
$dove-gray-300: #d3d3d3;
$alice-blue: #f1f8ff;
$primary: #fea116;
$dark: #0f172b;

// - font-weight
$weight-normal: 400;
$weight-sm: 500;
$weight-md: 600;
$weight-lg: 700;
$weight-xl: 800;
$weight-xxl: 900;
