* {
  margin: 0;
  padding: 0;

  &,
  &:is(::before, ::after) {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
}

// - Heading
h1,
h2,
h3 {
  font-weight: 700;
}

h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}

p {
  font-weight: 400;
}

span,
strong {
  font-weight: 700;
}

// List
ul,
ol {
  list-style: none;
}

// Media
img,
audio,
video {
  height: auto;
  max-width: 100%;
}

// iframe
iframe {
  border: 0;
}

// Table
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}
