@use '@scss/utils/variables' as *;
@use '@scss/utils/functions' as *;

.input {
  padding: um(20) um(12);
  width: 100%;
  border-radius: 4px;
  background-color: white;
  transition: all 0.15s ease-in-out;
  border: 1px solid $ghost;

  & ~ .label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: um(20) um(12);
    pointer-events: none;
    border: 1px solid transparent;
    transition: all 0.15s ease-in-out;
  }

  &[type='date'] ~ .label,
  &[type='datetime-local'] ~ .label {
    opacity: 0;
  }

  &[type='date']:focus,
  &[type='datetime-local']:focus {
    & ~ .label {
      opacity: 1;
    }
  }

  &:focus {
    padding: um(26) um(12) um(14) um(12);
    color: $dove-gray;
    background-color: $white;
    border-color: $chardonnay;
    outline: 0;
    box-shadow: 0 0 0 6px rgba(254, 161, 22, 0.25);

    & ~ .label {
      padding: um(4) um(12);
      font-size: 12px;
    }
  }
}
