@use "@scss/functions" as f;

.icon {
  width: calc(f.um(18) + 1.5vw);
  height: calc(f.um(18) + 1.5vh);
}

@media (min-width: 1024px) {
  .icon {
    width: calc(f.um(24) + 1.5vw);
    height: calc(f.um(24) + 1.5vh);
  }
}
