@use "functions" as f;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666565;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  line-height: 1.2;
  color: #0f172b;
}

h1 {
  font-size: calc(f.um(22) + 1.5vw);
}

@media (min-width: 1024px) {
  h1 {
    font-size: f.um(40);
  }
}
